[submodule "Examples_C"]
	path = Examples_C
	url = https://github.com/gammasoft71/Examples_C
[submodule "Examples_Cocoa"]
	path = Examples_Cocoa
	url = https://github.com/gammasoft71/Examples_Cocoa
[submodule "Examples_Cpp"]
	path = Examples_Cpp
	url = https://github.com/gammasoft71/Examples_Cpp
[submodule "Examples_CSharp"]
	path = Examples_CSharp
	url = https://github.com/gammasoft71/Examples_CSharp
[submodule "Examples_FLTK"]
	path = Examples_FLTK
	url = https://github.com/gammasoft71/Examples_FLTK
[submodule "Examples_Gtkmm"]
	path = Examples_Gtkmm
	url = https://github.com/gammasoft71/Examples_Gtkmm
[submodule "Examples_Python"]
	path = Examples_Python
	url = https://github.com/gammasoft71/Examples_Python
[submodule "Examples_Qt"]
	path = Examples_Qt
	url = https://github.com/gammasoft71/Examples_Qt
[submodule "Examples_Win32"]
	path = Examples_Win32
	url = https://github.com/gammasoft71/Examples_Win32
[submodule "Examples_wxWidgets"]
	path = Examples_wxWidgets
	url = https://github.com/gammasoft71/Examples_wxWidgets
[submodule "Examples_Gtk"]
	path = Examples_Gtk
	url = https://github.com/gammasoft71/Examples_Gtk
